@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --tea-green: #def6ca;
  --pink: #f8bdc4;
  --plum-web: #f497da;
  --pink: #f679e5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
